body{
background-color: #C9CBC8;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 16px;
color: rgba(1,1,1,0.9);
line-height: 25px;
}

.header{
  padding:30px;
  margin: 10px;
}

.container{
  width: 600px;
  margin: 0 auto;
}

.card{
  width: 500px;
  background-color: #f2e6ff;
  padding: 15px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 7px 7px 7px grey;
}

.text-center {
  text-align: center;
}

.purple_button {
  background-color: rgba(96, 32, 64, 0.8);
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
}

.purple_button a {
  color: white;
}

.purple_button:hover{
  background-color: rgba(96, 32, 64, 0.5);
}

img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  line-height: 35px;
  color: #260d1a;
}

h2{
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  line-height: 25px;
  color: rgba(1,1,1,0.8);
}


a{
  text-decoration: none;
  font-weight: bolder;
  color: #602040;
}

a:hover{
  color: #d98cb3;
}

i{
  font-size: 22px;
  color: rgba(96, 32, 64, 0.8);
}

i:hover{
  color: rgba(96, 32, 64, 0.5);
}

ul{
  list-style: none;
  padding-left: 0px;
}

li{
  display: inline-block;
  padding: 0px 12px 0px 0px;
}


@media (max-width: 720px) {
  .container {
    width: 500px;
  }

  .card{
  width: 400px;
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }

    .card{
  width: 300px;
}


}



